<div>
  <h2>What is this?</h2>
  <p>
    Deploy a ready-to-use XMPP server
    with Otalk. This will create a Droplet on your own
    DigitalOcean account with Prosody, LDAP and Otalk
    installed and configured according to the details
    you provide in the form.
  </p>
</div>
<div>
  <h2>Is this secure?</h2>
  <p>
    Very! The code for this tool is <a href="#">available on Github</a>
    and everything is done from the browser so you can be sure
    we don't do anything weird.
  </p>
  <p>
    On top of that, the Docker images are pulled from
    the Docker Registry and are all trusted builds.
  </p>
</div>
<div>
  <h2>What happens next?</h2>
  <p>
    The created droplet belongs to you and you can use
    it as you want (to install other services for example).
    Because we use Docker images, you can very easily manage
    or customize the services on the server.
  </p>
</div>