SERVER_NAME = "app.getkaiwa.com"
CALLBACK_REDIRECT = "http://getkaiwa.com/deploy/do.html"
DO_CLIENT_ID = "YOUR DIGITAL OCEAN CLIENT ID"
DO_CLIENT_SECRET = "YOUR DIGITAL OCEAN CLIENT SECRET"
# STRIPE_SECRET_KEY = "YOUR STRIPE SECRET KEY"
# MAILCHIMP_APIKEY = "YOUR MAILCHIMP API KEY"
# MAILCHIMP_LIST = "LIST ID"